<div class="center jumbotron">
  <h1>Welcome to sample app</h1>
<h2>this is home page</h2>
<%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
<p>Find me in app/views/static_pages/home.html.erb</p>

<h1>Sample app</h1>
<p>
  this is home page for the <a href="internet.org">internet</a>
  
  sample application
</p>
</div>

<%= link_to image_tag("rails.svg", alt: "rails logo"), 'http://rubyonrails.org' %>