# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projects\sample_static_dynamic_pages_ruby_on_rails\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
